<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:roles="http://www.w3.org/1999/xhtml">
    <body>
        <div th:fragment="header">
            <div class="container-fluid m-0 p-0">
                <div class="row bg-dark bg-dark m-0 p-2">
                    <div class="col-11 p-2">
                            <span class="text-white h5">
                                <th:block class="font-weight-normal"
                                          th:text="${admin.getUsername()} + ', with roles: '+ ${admin.roleViews}">
                                </th:block>
                            </span>
                    </div>
                    <div class="col-1 text-white h4">
                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-outline-secondary" type="submit" value="Logout"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

